body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

h1 {
    color: ;
}

ul {
    list-style-type: none;
}

div {
    margin: auto;
    background-image: linear-gradient(to right, pink, rgb(156, 97, 127));
    width: 40%;
    padding: 10px;
    border-radius: 25px;
}

